/* Navabar */

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    text-align: right;
}

.nav_li {
    display: inline;
}

.nav_li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

.nav_li a:hover {
    background-color: #2C353F;
}

nav img {
    position: relative;
    display: flex;
    margin-left: 20px;
}



/* Carrousel */

#slider {
    width: 100%;
    overflow: hidden;
}

#slider figure img {
    width: 20%;
    height: auto;
    float: left;
}


#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    animation: 25s slide infinite;
}


@keyframes slide {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: 0%;
    }
}

.legende {
    position: absolute;
    font-size: 30px;
    margin-top: 250px;
}



/* Adeptes */

.adepte {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.users {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.name {
    text-align: center;
    font-weight: 900;
    font-size: 22px;
}

.rating {
    direction: rtl;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 2em;
    transition: color .4s;
    margin: 1px;
    /*margin-left: 10px;*/
}

.rating a:hover,
.rating a:focus,
.rating a:hover~a,
.rating a:focus~a {
    color: orange;
    cursor: pointer;
}





/* Concept */

#concept {
    background: radial-gradient(circle, #0A8893, #11555B);
    border-radius: 10px;
    font-size: 20px;
}






/* Footer */

footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.copyright {
    height: 24px;
    margin-top: 10px;
}

.listfooter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.elemlist {
    display: inline-flex;
    margin: 4px;
}
