.carousel-inner {
text-shadow: 2px 2px 5px #000;
    text-transform: uppercase;
}

.d-block img-fluid {
  width: 100%;
}

.fit {
  width:150px;
  height:150px;
  object-fit: cover;
}

.container{
  text-align: center
}

.name {
  position: relative;
  left: 36px;
   color: black;
   }
