/* Carrousel */

#slider {
  width: 80%;
  height: 560px;
  margin-left: 10%;
  overflow: hidden;
}

#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}


#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  animation: 25s slide infinite;
}


@keyframes slide {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}

#legende1 {
  position: absolute;
  font-size: 2.3em;
  padding-top: 300px;  
  padding-left: 50px; 
  color: white;
  font-family: 'Cabin Sketch', cursive;
}

#legende2 {
  position: absolute;
  font-size: 2.3em;
  padding-top: 330px;
  padding-left: 1325px;
  color: white;
  font-family: 'Cabin Sketch', cursive;
}

#legende3 {
  position: absolute;
  font-size: 2.3em;
  padding-top: 330px;
  padding-left: 2500px;
  color: white; 
  font-family: 'Cabin Sketch', cursive;
}

#legende4 {
  position: absolute;
  font-size: 2.3em;
  padding-top: 330px;
  padding-left: 3650px;
  color: white;
  font-family: 'Cabin Sketch', cursive;
}

.color_logo {
  color: orange;
}


/* Adeptes */

.adepte {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.users {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.name {
  text-align: center;
  font-weight: 900;
  font-size: 22px;
}


/* Concept */
#concept {
  height: 600px;
}


.fade {
  margin: 50px;
  padding: 50px;

  
  opacity: 1;
}



#concept {
  background: D3D3D3;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.icon {
  display: inline-flex;
  position: relative;
  margin: 1%;
  width: 23%;
  height: 100px;
  background-color: #6ca4b0;
  text-align: center;
  vertical-align:top;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.trouver {
  display: inline-flex;
  position: relative;
  margin: 1%;
  width: 23%;
  height: 100px;
  background-color: #6ca4b0;
  text-align: center;
  vertical-align:top;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.sorter {
  display: inline-flex;
  position: relative;
  margin: 1%;
  width: 23%;
  height: 100px;
  background-color:#6ca4b0;
  text-align: center;
  vertical-align:top;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.elemlist {
  display: inline-flex;
  margin: 4px;
}

.message { 
  color:#6ca4b0;
  text-transform: uppercase;
  padding-top: 50px;
  font-weight: bold;
  font-size: 40px;
}