/* Font */

body {
  /*font-family: 'Raleway Dots', cursive;*/
}

/* Navbar */

#login {
  font-size: 17px;
}



/* Footer */

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #414851;
  display: flex;
  align-items: center;
}

footer span {
  color: white;
  padding: 20px;
  font-size: 20px;
}