/* Map */

#map {
height: 700px;
width: 100%;
}

/* Navabar */

.nav_ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color:black;
	text-align: right;
	padding-top: 0;
}

.nav_li {
	display: inline;
	height: 70;
	width: 70;
}

.nav_li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight:800;
}

.nav_li a:hover {
	background-color:#2C353F;
}

nav img {
	float: left;
	margin-left: 20px;
}

.navMap {
	display: inline;
}

.navMap a {
	font-size: 25px;
	text-align: center;	
}
