.sub {
    justify-content: center;
}

.company-info {

    border: solid 1px;
    margin: 5px;

    font-family: 'Raleway Dots', cursive;
    padding: 1em;
    font-size: 1.2em;
}


.company-info {
    background: #17a2b8;
}

.company-info h1,
.company-info ul {
    text-align: center;
    font-family: 'quicksand';
    color: #f2c23e;
    font-size: 3.5em;
}


.container {
    max-width: 900px;
    border-radius: 5px;
    padding: 15px;
}


.full {
    width: 100%;
    max-width: 100%;
}

.input_event {
    font-size: 14px;
    text-align: left;
}

select {
    width: 100%;
}

textarea, label{
    width: 100%;
}

.envoyer {
    text-align: center;

}

input {
    text-align: center;
}

.center {
    text-align: left
}
